.projectmodal {
  width: 88%;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  position: fixed;
  top: 3vh;
  left: 5%;
  padding: 1vw;
}

.close{
  font-size: 2em;
  float: right;
  margin-top: -1.7vw;
  margin-right: -1.7vw;
  color: black;
  background-color: #9AC0A5;
  border-radius: 50%
}

.headerGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.trioGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.trioBox{
  border-style: solid;
  margin: 1vw;
  height: 40vh;
  padding: 1vw;
}

.photoGrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.photoBox{
  border-style: solid;
  margin: 1vw;
  height: 20vh;
  padding: 1vw;
}

.right{
  float: right;
}

img {
  max-width: 100%;
  height: auto;
}
