.projectContainer{
  border-style: solid;
  border-top-style: none;
  margin: 0vw 1vw 1vw 1vw;
  padding: 1vw;
  height: 40vh;
  overflow-y: scroll;
}

.projectlist{
  border-style: solid;
  border-bottom-style: none;
  margin: 1vw 1vw 0vw 1vw;
  padding: 1vw;
  text-decoration: underline;
}

.supplyContainer{
  border-style: solid;
  border-top-style: none;
  margin: 0vw 1vw 1vw 1vw;
  padding: 1vw;
  height: 40vh;
  overflow-y: scroll;
}

.inventorylist{
  border-style: solid;
  border-bottom-style: none;
  margin: 1vw 1vw 0vw 1vw;
  padding: 1vw;
  text-decoration: underline;
}

.galleryContainer{
  border-style: solid;
  /* margin-top: -45vh; */
  margin-left: 1vw;
  margin-right: 1vw;
  padding: 1vw;
  height: 40vh;
  /* overflow-y: scroll; */
}

.homeGrid{
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-auto-flow: column; */
}

.galleryGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.scroll{
  overflow-y: scroll;
}
