.projectContainer{
  border-style: solid;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 1vw;
  padding: 1vw;
  height: 50vw;
  overflow-y: scroll;
}

.supplyContainer{
  border-style: solid;
  margin-right: 1vw;
  margin-bottom: 1vw;
  padding: 1vw;
  height: 50vw;
  overflow-y: scroll;
}

.galleryContainer{
  border-style: solid;
  /* margin-top: -40%; */
  margin-left: 1vw;
  margin-right: 1vw;
  padding: 1vw;
  height: 30vw;
  /* overflow-y: scroll; */
}

.homeGrid{
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-auto-flow: column; */
}
